@media (min-width: 0px) and (max-width: 768px) {
  body {
  }
  .menu,
  .section-three,
  .advantages-icon-wrap,
  .adress {
    display: none;
  }
  .div-header {
    justify-content: space-between;
  }
  .header {
    height: 70px;
  }
  .nav-base {
    margin-top: 25.5px;
  }
  .menu-open-button {
    width: 32px;
    height: 22px;
    margin-top: 24px;
  }
  .subscribe-form-input {
    width: 398px;
  }
}
@media (min-width: 768px) and (max-width: 1158px) {
  .section-three,
  .advantages-icon-wrap,
  .menu-open-btn,
  .mob-menu {
    display: none;
  }
  .container {
    min-width: 768px;
    max-width: 869px;
  }
  .first-knopka {
    margin-top: 48px;
  }
  .zagol-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-top: 116px;
  }
  .div-header {
    height: 72px;
  }
  .humenone {
    margin: 0;
  }
  .ulsefour {
    justify-content: center;
    gap: 72px 24px;
  }
  .section-five-item {
    width: calc((100% - 3 * 16px) / 3);
    height: 88px;
  }
  .section-five-list {
    margin-right: 108px;
    margin-left: 108px;
  }
  .se-li-two {
    gap: 72px 24px;
  }
  .selione {
    max-width: 356px;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
    gap: 72px 24px;
    justify-content: left;
  }
  .footer-div-div {
    margin: 0;
    margin-right: 24px;
  }
  .footer-socials {
    margin: 0;
  }
  .footer-container-subscribe {
    margin-top: 72px;
  }
  .subscribe-text {
    text-align: left;
  }
  .footera {
    text-align: left;
  }
  .social-zagol {
    text-align: left;
  }
  
}
@media (min-width: 1158px) {
  .header {
    height: 45px;
  }
  .div-header {
    margin-top: 25.5px;
  }
  .adress {
    flex-direction: row;
  }
  .menu-open-btn,
  .mob-menu {
    display: none;
  }
  .container {
    max-width: 1158px;
  }
  .section-five-item {
    max-width: 168px;
  }
  .selione {
    max-width: 264px;
  }
  .section-one {
    height: 600px;
  }
  .first-knopka {
    margin-top: 48px;
  }
  .zagol-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-top: 116px;
  }
}
